<%= render 'homes/form' %>


 <h2>Books</h2>
 <table>
    <thead>
        <tr>
            <th></th>  <%#一個ずらす必要ある%>
            <th>Title</th>
            <th>Opinion</th>
        </tr>
    </thead>
    <tbody>
       <% @books.each do |book| %>
    　　<tr>
        <td><%= link_to users_path do %>
         <td> <%= link_to book.title, book_path(book.id) %> </td>
         <td> <%= book.body %> </td>
    　　</tr>
    　 <% end %>
    　<% end %>
    </tbody>
</table>